@page "/clientbank1c8"
@page "/bankservicefor1c8/clientbank1c8"
@using System.IO
@using sabatex.V1C8.BankHelper
@using sabatex.Extensions.ClassExtensions
@using System.ComponentModel.DataAnnotations
@using System.Reflection
 
@inject IJSRuntime JSRuntime

<MudGrid>
    <MudItem xs="12" sm="8" md="6">
        <MudSelect T="EBankType" Label="Банківська клієнтська програма" Value="@bankType" ValueChanged="BankTypeChange">
            @foreach (EBankType eBankType in Enum.GetValues<EBankType>())
            {
                var text = eBankType.ToString();
                var enumMember = eBankType.GetType().GetMember(text).FirstOrDefault();
                var dispalayAttribute = enumMember?.GetCustomAttribute(typeof(DisplayAttribute)) as DisplayAttribute;
                text = dispalayAttribute == null ? text : dispalayAttribute.Name;
                text = sabatex.V1C8.BankHelper.Localizer.Localize(text);
                <MudSelectItem Value=eBankType T="EBankType">@text</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        @switch (bankType)
        {
            case EBankType.iBankUA_TXT:
            case EBankType.iFobsUA_TXT:
            case EBankType.iFobsUA_XML:
            case EBankType.PrivatUA:
                <MudTextField @bind-Value="accountNumber" Label="Розрахунковий рахунок:" Placeholder="Не обов'язково, допомагає відфільтрувати інші рахунки." />
                break;
        }
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <label for="uploadFiles" style="
        box-shadow: 0 2px 7px #4caf50;
        display: inline-flex;
        width: 200px;
        justify-content: space-around;
        border-radius: 2em;
        color: white;
        border:2px solid;
        cursor: pointer;
        align-items: center;
        padding:16px;
        background-color: #4caf50;">Виберіть файли <MudIcon Icon="@Icons.Filled.CloudUpload" /></label>
        <InputFile  id="uploadFiles" hidden multiple OnChange="HandleSelection" />
    </MudItem>
</MudGrid>
@if (!string.IsNullOrWhiteSpace(error))
{
    <MudText>
        @error
    </MudText>
}
