@page "/"
@page "/bankservicefor1c8"
@inject IStringLocalizer<Index> Loc

<h1>@Loc["Обробка банківських виписок"]</h1>
<p>
    @Loc["Дана програма призначена для перетворення виписок клієнтбанків (iFobs, iBank 2 UA, ПриватБанк) України в формат придатний для завантаження програмами 1с8.х"]
</p>
<p>
    @Loc["Протестовано для конфігурацій Бухгалтерія Для України 2, Управління нашою фірмою 1.6"]
</p>



