@page "/"

<h1>Обробка банківських виписок</h1>
<p> Дана програма призначена для перетворення виписок клієнтбанків (iFobs, iBank 2 UA) України
    в формат придатний для завантаження програмами 1с8.х</p>
<p>
    Протестовано для конфігурацій Бухгалтерія Для України 2, Управління нашою фірмою 1.6
</p>

<p> Тимчасова сторінка для TaxService <NavLink href="https://sabatex.github.io/BankServiceFor1C8/files/taxservice/taxservice.7z">TaxService download</NavLink></p>



