@using  System.Globalization
@inject IJSRuntime JSRuntime
@inject NavigationManager Nav
<style>
    .cultureSelector {
        display: flex;
    }
    .cultureSelectorItems {
        border-radius: 5px;
    }
    .cultureSelectorItemsOptions {
        border-radius:5px;
    }
</style>

    <div class="cultureSelector">
        <div class="col-auto" style="padding-right:4px">
            <span class="oi oi-globe" aria-hidden="true"></span>
        </div>
        <select @bind="Culture" class="cultureSelectorItems">
            @foreach (var culture in supportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </div>

@code
{
        CultureInfo[] supportedCultures = new[]
        {
        new CultureInfo("en-US"),
        new CultureInfo("uk-UA"),
    };

        CultureInfo Culture
        {
            get => CultureInfo.CurrentCulture;
            set
            {
                if (CultureInfo.CurrentCulture != value)
                {
                    var js = (IJSInProcessRuntime)JSRuntime;
                    js.InvokeVoid("blazorCulture.set", value.Name);

                    Nav.NavigateTo(Nav.Uri, forceLoad: true);
                }
            }
        }
    }