   <p><b>Як це працює:</b></p>
    <ul>
        <li>Підготуйте файл виписки в системі клієнт-банк в форматі який підтримується системою.</li>
        <li>Введіть або виберіть банківський рахунок </li>
        <li>Виберіть підготовлений файл.</li>
        <li>Натисніть "Конвертувати"</li>
        <li>Збережіть зконвертований файл в форматі .XML для наступного завантаження в програму 1С</li>
    </ul>
