@using Microsoft.Extensions.Localization
@inject IStringLocalizer<BankServiceFor1C8Localization> Localizer


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BankServiceFor1C8</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="privat24">
                <span class="oi oi-bank" aria-hidden="true"></span> Приват 24
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ibank">
                <span class="oi oi-bank" aria-hidden="true"></span> iBank 2 UA
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ifobs">
                <span class="oi oi-bank" aria-hidden="true"></span> iFobs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="otpbanksk">
                <span class="oi oi-bank" aria-hidden="true"></span> OTP bank SK
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="primabankask">
                <span class="oi oi-bank" aria-hidden="true"></span> Prima banka SK
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fixed1c">
                <span class="oi oi-bank" aria-hidden="true"></span> Fix for 1C
            </NavLink>
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
